:root {
  --default-font: Verdana, sans-serif;
  --title-font: 'Trebuchet MS', sans-serif;
  --brand-font: Georgia, 'Times New Roman', Times, serif;

  --color-light: #eeeeee;
  --color-light-dark: #aeaeaa;
  --color-dark-dark: #121212;
  --color-dark: #181818;
  --color-dark-light: #2b2b2f;
}
@mixin dark-theme {
  --color-bg-dark: var(--color-dark-dark);
  --color-bg: var(--color-dark);
  --color-bg-alt: var(--color-dark-light);
  --color-fg: var(--color-light);
  --color-fg-alt: var(--color-light-dark);
  --color-blue: #3390ff;
  --color-blue-alt: #1155c0;
  --color-green: #33e343;
  --color-green-alt: #33b343;
}
@mixin light-theme {
  --color-bg: var(--color-light);
  --color-bg-alt: var(--color-light-dark);
  --color-fg: var(--color-dark);
  --color-fg-alt: var(--color-dark-light);
  --color-blue: #007bff;
  --color-blue-alt: #0050a0;
  --color-green: #33b343;
  --color-green-alt: #339343;
}
// use dark theme by default
:root { @include dark-theme; }
// use light theme if user browser has that preference
// ! @media (prefers-color-scheme: light) { :root { @include light-theme; } }
// use dark theme if override set (by JavaScript)
// ! [data-theme="dark"] { @include dark-theme; }
// use light theme if override set (by JavaScript)
// ! [data-theme="light"] { @include light-theme; }
* {
  font-family: var(--default-font);
  color: var(--color-fg);
  font-size: 1.2rem;
  // "box-sizing: border-content" as the default behavior was a mistake
	// see: https://wiki.csswg.org/ideas/mistakes
	box-sizing: border-box;
}
body {
  background-color: var(--color-bg);
}
h2, h3, h4, h5, h6 {
	font-family: var(--title-font);
}
h6 {
  font-size: 1.0rem;
  font-weight: bold;
	margin-block-start: 2.33em;
	margin-block-end: 2.33em;
}
h5 {
  font-size: 1.2rem;
  font-style: italic;
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
}
h4 {
  font-size: 1.2rem;
  font-weight: bold;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
}
h3 {
  font-size: 1.4rem;
	margin-block-start: 1em;
	margin-block-end: 1em;
}
h2 {
  font-size: 1.6rem;
	margin-block-start: .83em;
	margin-block-end: .83em;
}
h1 {
  font-family: var(--brand-font);
	font-size: 4.2rem;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}
p {
  line-height: 1.4rem;
	margin-block-start: 1em;
	margin-block-end: 1em;
}
a {
  // long links are common, so we should break them
  overflow-wrap: break-word;
  color: var(--color-blue);
  text-decoration: none;
  &:visited {
    color: var(--color-blue)
  }
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
    text-decoration: underline;
    color: var(--color-blue-alt);
  }
  &:active {
    color: var(--color-blue-alt);
  }
}
code {
	font-family: monospace;
}
section {
  width: 100%;
  // by default, center content horizontally
  margin: 0 auto;
  // without padding, inline margins (like on p elements) are not respected
  padding: 1px 1rem 1px 1rem;
}
#featured-image, .background-image {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('$lib/imgs/default-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%) blur(2px);
  }
}
.centered {
  text-align: center;
}
.banner {
  background-color: var(--color-bg-dark);
  border-top: 1px var(--color-bg-alt) solid;
  border-bottom: 1px var(--color-bg-alt) solid;
}
.icon {
  position: relative;
  transform: translateY(0.3em);
}
.no-break {
  white-space: nowrap;
}
